# Node
node_modules
dist
.angular
npm-debug.log
.nyc_output
.tmp
.cache
/out
/src/environments/environment.prod.ts
/.env.local
/firebase-debug.log
/karma-debug.log
/tmp/

# Supabase CLI temp files
supabase/.temp/

# IDEs
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Build artifacts
*.js.map
*.css.map
*.tsbuildinfo